@use '../login/login.component.scss';

.back-link {
  text-align: center;
  margin-top: 1.5rem;
}

.link-btn {
  color: #4f46e5;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: #3730a3;
  }
}